/* Color Theme Swatches in RGBA */
$blue: rgba(16, 69, 79, 1);
$gray: rgba(79, 98, 102, 1);
$brown: rgba(128, 130, 116, 1);
$koyu-yesil: rgba(163, 170, 119, 1);
$yesil: rgba(189, 224, 55, 1);

/* Color Theme Swatches in Hex */
$dark-blue: #151f30;
$blue2: #103778;
$blue3: #0593a2;
$orange: #ff7a48;
$kirmizi: #e3371e;
